body {
  font-family: "Roboto Mono", monospace;
}

#app-title {
  text-align: center;
}
#req-title {
  padding-left: 25px;
}
#sort-by-title {
  padding-left: 25px;
}
#stats-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.stats {
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
}
.stat {
  text-align: center;
}

#project-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-card {
  margin: 25px;
  border: 1px solid green;
  padding: 10px;
}
h5 {
}

.project-header > h5 {
  color: #949494;
}

.progress-wrapper {
  display: flex;
  flex-wrap: nowrap;
  border-top: 1px solid green;
}
.req {
  margin: 5px;
  text-align: center;
}

.req > h4 {
  margin-top: 0;
}

#main-area {
  display: flex;
  justify-content: center;
}
