/* ["00ccff","00ffcc","ffff00","ff00cc","cc00ff"] */
html {
  overflow-y: scroll;
}
body {
  font-family: "Roboto Mono", monospace;
}

#app-title {
  text-align: center;
}

#app-title > span {
  border-bottom: 5px solid #00ccff;
  cursor: pointer;
}
#basic-stat-underline {
  border-bottom: 5px solid #00ffcc;
}
#medium-stat-underline {
  border-bottom: 5px solid #ffff00;
}
#advanced-stat-underline {
  border-bottom: 5px solid #ff00cc;
}
#nightmare-stat-underline {
  border-bottom: 5px solid #cc00ff;
}
#todo-stat-underline {
  border-bottom: 5px solid #4a08e4;
}
#req-title {
  padding-left: 25px;
}
#sort-by-title {
  padding-left: 25px;
}
#stats-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.stats {
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
}
.stats-heading {
  text-align: center;
  cursor: pointer;
}
.stat {
  text-align: center;
  font-style: italic;
}

#add-project-button {
  background-color: white;
  border: 1px solid black;
}

#project-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-card {
  margin: 25px;
  border: 1px solid black;
  padding: 10px;
  position: relative;
}

.project-header > h1 > a {
  color: black;
  text-decoration: none;
}

.project-header > h5 {
  color: #949494;
}

.edit-wrapper {
  position: absolute;
  right: 5px;
  top: 2px;
}
.edit-wrapper > a {
  color: black;
}

.progress-wrapper {
  display: flex;
  flex-wrap: nowrap;
  border-top: 1px solid black;
}
.req {
  margin: 5px;
  text-align: center;
}

.req > h4 {
  margin-top: 0;
}

#sort-by-section {
  margin: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#sort-by-section > div {
  margin: 10px;
}

#main-area {
  display: flex;
  justify-content: center;
}

#search-for-project {
  background-color: white;
  border: 1px solid black;
}
#submit-project-button {
  background-color: white;
  border: 1px solid black;
}

#edit-section {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 25%;
  left: 20%;
  background-color: #00ccff;
  padding: 50px;
}

#edit-section > * {
  padding: 2px;
}
#add-section > * {
  padding: 2px;
}
.hide-class {
  visibility: hidden;
}

#add-section {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 25%;
  left: 20%;
  background-color: #00ccff;
  padding: 50px;
}
.close-popup {
  position: absolute;
  position: absolute;
  right: 10px;
  top: 10px;
}
.svg-icon {
  width: 20px;
  height: 20px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #ffffff;
}
.popup-row {
  display: flex;
  flex-direction: row;
}
.first-col {
  min-width: 300px;
}
.popup-row > div {
  margin: 5px;
}

.null-style {
  color: #949494;
  text-decoration: line-through;
}

.project-name > span {
  margin-left: 5px;
}

.project-name:hover {
  color: #4a08e4;
}
