.project-card {
  margin: 25px;
  border: 1px solid black;
  padding: 10px;
  position: relative;
}

.project-header > h1 > a {
  color: black;
  text-decoration: none;
}

.project-header > h5 {
  color: #949494;
}

.edit-wrapper {
  position: absolute;
  right: 5px;
  top: 2px;
}
.edit-wrapper > a {
  color: black;
}

.progress-wrapper {
  display: flex;
  flex-wrap: nowrap;
  border-top: 1px solid black;
  justify-content: center;
}
.req {
  margin: 5px;
  text-align: center;
}

.req > h4 {
  margin-top: 0;
}
